body {
    background: linear-gradient(to bottom, #D3D3D3, #0F0F0F);
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 56px; /* Espacio para el navbar fijo */
}

header {
    background-color: #2F4F4F;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

.nav-link.btn-custom {
    background-color: #FFBF00;
    color: #FFFFFF !important;
    border-radius: 25px;
    padding: 10px 20px;
    margin: 5px;
}

.nav-link.btn-custom:hover {
    background-color: #FF0000;
    color: #D3D3D3 !important;
}

main {
    padding: 2em;
    text-align: center;
}

#pdf-container {
    margin: 0 auto;
    width: 80%;
    height: 600px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.carousel-item {
    text-align: center;
}

.carousel-item iframe {
    width: 500px;
    height: 300px;
    border: none;
}

.custom-carousel {
    width: 500px;
    height: 300px;
    margin: auto;
}

.btn-custom {
    background-color: #FFD700; /* Color de fondo */
    color: #FFFFFF !important; /* Color del texto */
    border-radius: 25px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interior */
    margin: 5px; /* Espaciado exterior */
}

.btn-custom:hover {
    background-color: #FF0000;
    color: #D3D3D3 !important;
}

footer {
    background-color: #FFBF00;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.social-icons a {
    margin: 0 1em;
}

.social-icons img {
    width: 30px;
    height: 30px;
}
